<template>
	<div>
		<fish-button type="positive" @click="showModalFunction"><i class="fa fa-plus"></i> Add Item</fish-button>
		<fish-table :columns="tableColumns" noMoreText="No Favourite Thing found" :data="thingsList"></fish-table>

		<!--    Modal to add or edit favourite thing    -->
        <fish-modal marginTop="10px" :title=" ((isEditing == false) ? 'Add new' : 'Edit') + ' favourite thing'" :visible.sync="showModal">
            <fish-form>
                <div class="scroll-view">
                    <fish-field label="Name">
                        <fish-input v-model="newData.title"></fish-input>
                    </fish-field>
                    <fish-field v-if="category_id == null || isEditing" label="category">
                        <fish-select search v-if="categories.length > 0" v-model="newData.category_id" :value="newData.category_id">
                            <fish-option :index="category.id" :value="category.id" v-for="(category, index) in categories" :key="index" :content="category.name"></fish-option>
                        </fish-select>
                    </fish-field>
                    <fish-field label="Description">
                      <fish-input type="textarea" v-model="newData.description"></fish-input>
                    </fish-field>
                    <fish-field label="Ranking">
                      <fish-input type="number" v-model="newData.ranking"></fish-input>
                    </fish-field>
                    <fish-row>
                        <fish-col span= "24">
                            <h4 class="further-information">Further Information</h4>
                        </fish-col>
                    </fish-row>
                    <fish-row v-for='(row, index) in meta_data' :gutter="0.5">
                      <fish-col span="11">
                          <fish-field label="Meta Name">
                            <fish-input v-model='row[0]' type="text"></fish-input>
                          </fish-field>
                      </fish-col>
                      <fish-col span="11">
                          <fish-field label="Value">
                            <fish-input v-model='row[1]' type="text"></fish-input>
                          </fish-field>
                      </fish-col>
                      <fish-col span="2">
                          <fish-button class="delete-row-button" @click="deleteMetaRow(index)" type="negative">Delete</fish-button>
                      </fish-col>
                    </fish-row>
                    <fish-row class="add-btn-row">
                        <fish-col span="24">
                            <fish-button type="primary" @click="addMetaRow()">Add Meta Data</fish-button>
                        </fish-col>
                    </fish-row>
                </div>
                <fish-button @click="showModal = false">Close</fish-button>
                <fish-button type="positive" :loading="isAdding" @click="submitForm">Submit</fish-button>
            </fish-form>
        </fish-modal>
	</div>
</template>

<script>
	import {mapState, mapActions} from 'vuex'

	export default {
		props: {
			url: {
				type: String
			},
			category_id: {
				default: null,
				type: Number
			}
		},
		computed: {
            ...mapState ([
                'categories'
            ]),
            tableColumns() {
                return [
                    {
                        title: "Name",
                        key: 'title'
                    },
                    {
                        title: "Description",
                        key: "description"
                    },
                    {
                        title: "Ranking",
                        key: "ranking"
                    },
                    {
                        title: "Category",
                        key: "category",
                        render: (h, record, column) => h('a', {
                            on: {
                                click: () => {
                                    this.$router.push({
                                        name: 'things.category.items',
                                        params : {id: record.category_id}
                                    })
                                }
                            }
                        }, record.category)
                    },
                    {
                        title: "Created time",
                        key: "created_at",
                        render: (h, record, column) => h('div', (new Date(record.created_at)).toDateString())
                    },
                    {
                        title: "Last updated",
                        key: "updated_at",
                        render: (h, record, column) => h('div', (new Date(record.updated_at)).toDateString())
                    },
                    {
                        title: "Action",
                        key: "id",
                        render: (h, record, column) => 
                        h('div',[
	                        h('a', {
	                            class: 'fish button primary',
	                            on: {
	                               click : () => {
	                                    this.showEditDialog(record)
	                               }
	                            }
	                            }, 'Edit'),
	                        h('a', {
	                        	class: 'fish button negative',
	                        	on: {
	                        		click: () => {
	                        			this.confirmDelete(record)
	                        		}
	                        	}
	                        }, 'Delete')
                    	])
                    }
                ]
            }
        },
		data () {
			return {
				thingsList: [],
				isAdding: false,
                isEditing: false,
                showModal: false,
                newData: {},
                meta_data: [['', '']]
			}
		},
		methods: {
			...mapActions (['fetchCategories']),
            addMetaRow () {
                this.meta_data = this.meta_data.concat([['', '']])
            },
			deleteItem (record) {
				this.http.delete(`/things/${record.id}/`).then(resp => {
					this.$message.success('Successfully Deleted', 5000);
					this.fetchItems()
				})
			},
            deleteMetaRow (index) {
                this.meta_data.splice(index, 1);
            },
			confirmDelete (record) {
				this.confirmDialog(`Sure to delete ${record.title}?`).then(resp => {
					this.deleteItem(record)
				})
			},
			fetchItems () {
				this.http.get(this.url).then(resp => {
					this.thingsList = resp
				})
			},
			showModalFunction () {
                if (this.categories.length == 0) {
                    this.fetchCategories()
                }
                this.newData = {}
                this.isEditing = false
                this.showModal = true
            },
            buildMetaData (meta_data) {
                let builtPayload = {};
                meta_data.forEach(item => {
                    builtPayload[item[0]] = item[1]
                })
                return JSON.stringify(builtPayload)
            },
            submitForm () {
                let payload = this.newData
                if (this.category_id != null) {
                	payload.category_id = this.category_id
                }
                payload.meta_data = this.buildMetaData(this.meta_data)
                if (this.isEditing) {
                    this.http.put(`/things/${payload.id}/`, payload).then(resp => {
                        this.fetchItems()
                        this.$message.success('Edited successfully', 5000)
                        this.showModal = false
                    })
                } else {
                    this.http.post('/things/', payload).then(resp => {
                        this.thingsList.push(resp);
                        this.showModal = false;
                        this.newData = {}
                        this.meta_data = []
                        this.$message.success('You have successfully added an item', 5000)
                    })
                }
            },
            loadMetaData (record) {
                this.meta_data = []
                let metaData = (record['meta_data']) ? JSON.parse(record['meta_data']) : {}
                Object.keys(metaData).forEach(key => {
                    this.meta_data.push([key, metaData[key]])
                })
            },
            showEditDialog (record) {
                if (this.categories.length == 0) {
                    this.fetchCategories()
                }
                this.isEditing = true
                this.loadMetaData(record)
                this.showModal = true
                this.newData = record
            }
		},
		mounted () {
			this.fetchItems()
		}
	}
</script>

<style type="text/css">
    .scroll-view{
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(100vh - 120px);
    }
    .delete-row-button {
        margin-top:28px;
    }
    .add-btn-row {
        margin: 5px auto;
        text-align: center;
    }
    .further-information {
        padding-top: 30px;
        padding-bottom: 15px;
        text-align: left;
    }
</style>
